<div class="jumbotron bg-transparent text-center mt-4">
    <h4>
        Social Login Demo
    </h4>

    <div *ngIf="!user" class="card text-center border-primary">
        <!-- <h6 class="card-header">
            Social Login Demo
        </h6> -->
        <div class="card-block bg-light">
            <h4 class="card-title">Not signed in</h4>
            <p class="card-text">Sign in with</p>
        </div>
        <div class="card-body">
            <button class="btn btn-danger" (click)="signInWithGoogle()"><span class="fa fa-google">Google</span></button>
        </div>
    </div>
    <div *ngIf="user" class="card text-center border-primary">
        <!-- <h6 class="card-header">
            Social Login Demo
        </h6> -->
        <div class="card-block bg-light">
            <h5>You are Logged in as</h5>
            <img class="card-img-top img-responsive photo p-2" src="{{ user.photoUrl }}">
        </div>
        <div class="card-block bg-light">
            <h4 class="card-title">{{ user.name }}</h4>
            <p class="card-text">{{ user.email }}</p>
        </div>
        <div class="card-block">
            <button class="btn btn-danger mt-2" (click)="signOut()">Sign out</button>
        </div>
    </div>
</div>